{% extends 'base.html' %}

{% block title %}
    我的网站|注册
{% endblock %}

{% block nav_register_active %}
    active
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">注册</h3>
                    </div>
                    <div class="panel-body">
                        <form action="#" method="post">
                            {% csrf_token %}
                            {% for filed in reg_from %}
                                <lable for="{{ filed.id_for_label }}">{{ filed.label }}</lable>
                                {{ filed }}
                                <p class="text-danger">{{ filed.errors.as_text }}</p>
                            {% endfor %}
                            <span id="tip" class="pull-left text-danger">{{ reg_from.non_field_errors }}
                            </span>
                            <div class="clearfix"></div>
                            <input type="submit" value="注册" class="btn btn-primary pull-right">
                            <button id="send_code" class="btn btn-primary">获取验证码</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block css %}
    <style>
        li {
            list-style: none;
        }
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('#send_code').click(function () {
            var email = $('#id_email').val();

            if (email == '') {
                $('#tip').text('* 邮箱不能为空');
                return false;
            }

            $.ajax({
                url: '{% url 'send_code' %}',
                type: 'GET',
                data: {
                    'email': email,
                },
                cache: false,
                success: function (data) {
                    if (data['status'] == 'ERROR') {
                        alert(data['status']);
                    }
                }
            })

            var time = 60;
            $(this).addClass('disabled');
            $(this).attr('disabled', true);
            $(this).text(time + 's');

            var interval = setInterval(() => {
                if (time <= 0) {
                    clearInterval(interval);
                    $(this).addClass('disabled');
                    $(this).attr('disabled', false);
                    $(this).text('发送验证码');

                    return false;
                }
                time--;
                $(this).text(time + 's 后再次发送');

            }, 1000)


        })

    </script>
{% endblock %}