{% extends 'base.html' %}

{% block title %}
    个人资料
{% endblock %}

{% block nav_register_active %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-11 col-xs-offset-1">
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">个人信息</div>
                        <div class="panel-body">
                            {% if user.is_authenticated %}

                                <ul class="user-info">

                                    <div>
                                        <span>头像：</span>
                                        <img id="user-info-image" src="{{ user.icon.url }}">
                                        <span><a href="">修改头像</a></span>
                                    </div>

                                    <li>账号：{{ user.username }}</li>

                                    <li>昵称：{{ user.nickname }} &nbsp;&nbsp;
                                        <a href="{% url 'change_nickname' %}?from={{ request.get_full_path }}"
                                           style="">修改昵称</a>
                                    </li>

                                    <li>
                                        邮箱：{% if user.email %}{{ user.email }}{% else %}未绑定邮箱{% endif %} &nbsp;&nbsp;
                                        <a href="{% url 'bind_email' %}?from={{ request.get_full_path }}">修改邮箱</a>
                                    </li>
                                </ul>

                            {% else %}
                                <span>未登录，正在跳转首页</span>
                                <script type="text/javascript">
                                    window.location.href = '/';
                                </script>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    <style>
        li {
            list-style: none;
        }

        .user-info {
            margin-top: 1em;
        }

        #user-info-image {
            border-radius: 3px;
            background: #FBFBFB;
            border: navajowhite;
            margin-bottom: 1em;
            padding: 5px;
            width: 100px;
            height: 100px;
        }

    </style>
{% endblock %}