{% extends 'base.html' %}
{% load staticfiles %}
{% load read_tags %}

{% block title %}
    我的网站|博客
{% endblock %}

{% block nav_blog_active %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {% block blog_list_title %}
                                列表文章
                            {% endblock %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% for blog in page_fo_blogs.object_list %}
                            <div style="margin-bottom: 2em; padding-bottom: 1em; border-bottom: 1px solid #eee">
                                <a href="{% url 'blog_detail' blog.id %}">
                                    <h3 style="margin-top: 0.5em;">{{ blog.title }}</h3>
                                </a>
                                <p class="blog-info">
                                    <span class="glyphicon glyphicon-tag" aria-hidden="true">
                                        <a href="{% url 'blogs_with_type'  blog.blog_type.id %}">{{ blog.blog_type }}</a>
                                    </span>

                                    <span class="glyphicon glyphicon-time" aria-hidden="true" style="left:20px;">
                                        {{ blog.created_time }}
                                    </span>

                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="left:40px;">
                                        {% get_read_count blog %}
                                    </span>
                                </p>
                                <p>{{ blog.content | truncatechars:100 }}</p>

                            </div>

                        {% empty %}
                            <div style="margin-top: 0.5em;">
                                <h3 style="margin-top: 0.5em;">---- 暂无博客内容 ----</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div aria-label="..." style="text-align: center;">
                    <ul class="pagination">
                        <li>
                            {# page_fo_blogs.has_previous判断是否有上一页 #}
                            {% if page_fo_blogs.has_previous %}
                                <a href="?page={{ page_fo_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>
                        {% for page_num in page_range %}
                            {% if page_num == page_fo_blogs.number %}
                                <li class="active"><span>{{ page_num }}</span></li>
                            {% elif page_num == '...' %}
                                <li><span>{{ page_num }}</span></li>
                            {% else %}
                                <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li>
                            {#has_next page_fo_blogs判断是否有下一页 #}
                            {% if page_fo_blogs.has_next %}
                                <a href="?page={{ page_fo_blogs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                    </ul>
                    <p>
                        共有 {{ page_fo_blogs.paginator.count }} 文章
                    </p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">博客分类</h3>
                    </div>
                    <div class="panel-body">
                        <ul style="list-style-type: none;">
                            {% for blog in blogs_type %}
                                <li>
                                    <h4>
                                        <a href="{% url 'blogs_with_type' blog.id %}">
                                            {{ blog.type_name }}
                                        </a>
                                        ({{ blog.blog_count }})
                                    </h4>
                                </li>
                            {% empty %}
                                <li>
                                    ---- 暂无分类 ----
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">日期归档</h3>
                    </div>
                    <div class="panel-body">
                        <ul style="list-style-type: none;">
                            {% for blog_date in blog_dates %}
                                <li>
                                    <a href="{% url 'blog_date' blog_date.year  blog_date.month %}">
                                        {{ blog_date | date:'Y年m月' }}
                                    </a>
                                </li>
                            {% empty %}
                                <li>
                                    ---- 暂无分类 ----
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block css %}

{% endblock %}