{% extends 'base.html' %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% block nav_blog_active %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xg-offset-1">
                <h3>{{ blog.title }}</h3>
                <p>作者：{{ blog.author }}</p>
                <p>发表日期：{{ blog.created_time }}</p>
                <p>分类：
                    <a href="{% url 'blogs_with_type' blog.blog_type.id %}">
                        {{ blog.blog_type }}
                    </a>
                </p>
                <p style="display: inline-block; margin-right: 2em; text-indent: 2em;">{{ blog.content }}</p>
            </div>
        </div>
    </div>
{% endblock %}
