{% extends 'base.html' %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% block nav_blog_active %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xg-offset-1">
                <h3>{{ blog.title }}</h3>
                <span style="margin-right: 2em;">作者：{{ blog.author }}</span>
                <span style="margin-right: 2em;">发表日期：{{ blog.created_time }}</span>
                <span style="margin-right: 2em;">阅读人数：{{ blog.read_num }}</span>
                <span style="margin-right: 2em;">文章分类：
                    <a href="{% url 'blogs_with_type' blog.blog_type.id %}">
                        {{ blog.blog_type }}
                    </a>
                </span>
                <br>
                <div style="display: inline-block; margin-right: 2em; text-indent: 2em;">{{ blog.content }}</div>

                <div style="margin-top: 1em;">上一篇:
                    {% if next_blog %}
                        <a href="{% url 'blog_detail' next_blog.id %}"> {{ next_blog.title }}</a>
                    {% else %}
                        暂无博客
                    {% endif %}
                </div>
                <div style="margin-top: 1em;">下一篇:
                    {% if previous_blog %}
                        <a href="{% url 'blog_detail' previous_blog.id %}"> {{ previous_blog.title }}</a>
                    {% else %}
                        暂无博客
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
