{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">个人博客网站</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar-collapse" class="collapsed navbar-collapsed">
            <ul class="nav navbar-nav">
                <li class="{% block nav_home_active %}{% endblock %}">
                    <a class="btn" href="{% url  'home' %}">首页</a>
                </li>
                <li class="{% block nav_blog_active %}{% endblock %}">
                    <a class="btn" href="{% url 'blog_list' %}">博客</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span>{{ user.nickname }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'user_info' %}">修改资料</a>
                            </li>
                            <li>
                                <a href="{% url 'change_password' %}?from={{ request.get_full_path }}">修改密码</a>
                            </li>
                            {% if user.is_superuser %}
                                <li>
                                    <a href="{% url 'admin:index' %}">后台管理</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'logout' %}?from={{ request.get_full_path }}">退出</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="{% block nav_login_active %}{% endblock %}">
                        <a class="btn" href="{% url 'login' %}?from={{ request.get_full_path }}">
                            登陆
                        </a>
                    </li>
                    <li class="{% block nav_register_active %}{% endblock %}">
                        <a class="btn" href="{% url 'register' %}?from={{ request.get_full_path }}">
                            注册
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>

{% block content %}

{% endblock %}

</body>
<link rel="stylesheet" href="{% static  'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static  'css/base.css' %}">
<style>
    ul.navbar-right {
        margin-right: 0;
    }
</style>

{% block css %}


{% endblock %}


<script type="text/javascript" src="{% static 'highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
{% block js %}

{% endblock %}


</html>