{% extends 'base.html' %}
{% load static %}

{% block title %}
    我的网站|首页
{% endblock %}

{% block nav_home_active %}
    active
{% endblock %}

{% block content %}
    <h3 style="font-size: 220%; text-align: center;  margin-bottom: 2em; margin-top: 4em;">欢迎访问我的网站</h3>

    <div id="container" style="width: 600px;height:400px;margin: 0 auto;"></div>

    <div class="hot-data">
        <h3>今日热门博客</h3>
        <ul>
            {% for hot in hot_data %}
                <li>
                    <a href="{% url 'blog_detail' hot.id %}">
                        {{ hot.title }} ({{ hot.dcount }})
                    </a>
                </li>
            {% empty %}
                <li>今天无热门博客</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-data">
        <h3>昨日热门博客</h3>
        <ul>
            {% for yesterday in yesterday_data %}
                <li>
                    <a href="{% url 'blog_detail' yesterday.id %}">
                        {{ yesterday.title }} ({{ yesterday.dcount }})
                    </a>
                </li>
            {% empty %}
                <li>昨日无热门博客</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-data">
        <h3>前七日热门博客</h3>
        <ul>
            {% for sever_day in sever_day_data %}
                <li>
                    <a href="{% url 'blog_detail' sever_day.id %}">
                        {{ sever_day.title }} ({{ sever_day.dcount }})
                    </a>
                </li>
            {% empty %}
                <li>前七日无热门博客</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block css %}
    <style>
        .hot-data {
            text-align: center;
            margin-top: 2em;
        }

        li {
            list-style: none;
        }
    </style>
{% endblock %}


{% block js %}
    <script>
        // 图表配置
        var options = {
            chart: {type: 'line'},
            title: {text: '近七日访问量折线图'},
            xAxis: {
                title: {text: '日期'},
                categories: {{ data.dates|safe }},
                tickmarkPlacement: 'on',
            },
            yAxis: {
                title: {text: '阅读数'},
                labels: {enabled: false},
                gridLineDashStyle: 'Dash',
            },
            series: [{
                name: '当天阅读数',
                data: {{ data.read_nums }}
            }],
            credits: {enabled: false},
            legend: {enabled: false},
            plotOptions: {
                series: {
                    allowPointSelect: true
                }
            },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>



{% endblock %}